.card {
  width: 12em;
  height: 5em;
  position: absolute !important;
  right: 30px;
  background-color: #231F20 !important;
  //border: 1px solid rgba(0,0,0,.125);
  //border-radius: .25rem;

  .card-action {
    height: 40%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    .no-background {
      background-color: #231F20 !important;
      border: 1px solid #fff;
    }

    .btn {
      color: white !important;
      background-color: #AD974F;

      &:focus {
        outline: none;
        border-color: #8E793E !important;
        box-shadow: 0 0 10px #8E793E !important;
      }
    }
  }
}