.card-team-title {
  color: #AD974F;
}
.card-team-text {
  color: #231F20;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.cardTeam {

}
.row {
  .column{
    //float: left;
    //width: 25%;
    //padding: 0 10px;
  }
}


//<div className={textClassName}>
//<p className="card-team-text">{this.props.text}</p>
//</div>
