#documentsContainer{
    text-align: center;
    height: 100%;
    width: 100%;
}

#documentsContainer > .createDocumentButton {
    margin: 0.5rem 0;
    height: 3rem;
}

#documentsContainer > #documentsList{
    width: 100%;
    height: calc(100% - 5rem);
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1%;
}

.documentCard{
    width: 22%;
    border: 1px solid lightgray;
    border-radius: 15px;
    margin-bottom: 1%;
    max-height: 50%;
    overflow: auto;
}

.documentCard > .documentHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gray;
}

.documentCard > .documentData {
    padding: 2%;
}

.documentCard > .documentData  > div {
    margin-top: 10px;
}